body{
    font-family: arial;
}

label {
    font-weight: bold;
}

.slate {
    width: 60px;
}

#moon {
    height: 480px;
    width: 50px;
}

.grid-striped .col:nth-of-type(odd){
    background-color: rgba(0,0,0,.1);
}
